#primair {
    display: none;
}

#gaming {
    display: none;
}

#image {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../afbeeldingen/groot.jpg);
}

#container {
    background-color: #fff;
    color: #000;
}

h2 {
    font-family: 'Noto Serif TC', serif;
}
