#primair {
    display: none;
}

#luxe {
    display: none;
}

#image {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../afbeeldingen/medium.jpg);
}

#container {
    background-color: #1d1c1c;
    color: #efefef;
}

